<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="app.js"></script>
<title>JSON-Daten</title>
</head>
<body>
<h1>JSON-Daten</h1>
<div id="json-data"></div>

<input type="text" name="qspartner" placeholder="QS-Ansprechpartner">
<input type="email" name="email" placeholder="E-Mail-Adresse">
<input type="checkbox" name="yesno" value="Ja/Nein">
<input type="date" name="Datum">
<input type="file" name="Datei">



</body>
</html>
